@charset "utf-8";

:root {
  --base-color: #f7f7f7;
  --text-color: #444444;
  --sub-text-color: #ffffff;
  /* Light Blue 600 */
  --main-color: #039be5;
  /* Light Blue 700 */
  --sub-color1: #0288d1;
  /* Light Blue 500 */
  --sub-color2: #03a9f4;
  --footer-color: #7f8c8d;
  /* Lime A200 */
  --category-color: #eeff41;
  /* brand color */
  --sns-twitter: #1d9bf0;
  --sns-facebook: #1877f2;
  --sns-hatena: #00a4de;
  --sns-line: #06c755;
  --sns-pocket: #ed4255;
  --base-font-family: "Noto Sans JP", "Noto Sans CJK JP", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  font-family: var(--base-font-family);
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--base-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: All 0.2s ease;
}

a:hover {
  color: var(--text-color);
}

/* ---------- header ---------- */

header.header {
  background-color: var(--main-color);
}

.header__static_page_menu {
  background-color: var(--sub-color2);
}

.header__static_page_menu ul li:hover {
  background-color: var(--sub-color1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transition: .5s ease;
}

.navbar-toggler-icon {
  width: 1em !important;
  height: 1em !important;
}

/* ---------- top page ---------- */

.card {
  transition: all .2s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card header img {
  width: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}

header .card__category {
  font-size: 0.875rem;
  background-color: var(--category-color);
  padding: 3px 6px;
}

.card section {
  min-height: 11rem;
}

.card-body h2 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-body p {
  font-size: 0.875rem;
}

.card-body p,
.card-text {
  color: #666;
  text-align: justify;
  font-feature-settings: "palt";
}

.card__footer {
  font-size: 0.75rem;
  margin: 0.5rem;
}

.card__footer .card__date::before,
.card__footer .card__author::before {
  font-family: "bootstrap-icons";
  font-size: 1em;
  vertical-align: -.125em;
  margin-right: 0.1rem;
}

.card__footer .card__date::before {
  content: "\F293";
}

.card__footer .card__author::before {
  content: "\F4CA";
}

/* ---------- page entry ---------- */

.entry__meta {
  font-size: 0.875rem;
}

p.entry__meta {
  margin-bottom: 0.25rem;
}

.entry__meta .entry__categories {
  color: var(--text-color);
  background-color: var(--category-color);
}

.entry__meta .entry__categories::before,
.entry__meta .entry__date::before,
.entry__meta .entry__author::before {
  font-family: "bootstrap-icons";
  font-weight: bold;
  vertical-align: -.125em;
  margin-right: 2px;
}

.entry__meta .entry__categories::before {
  content: "\F2C9";
}

.entry__meta .entry__author::before {
  content: "\F4CA";
}

.entry__meta .entry__date::before {
  content: "\F293";
}

.entry__cover {
  width: 100%;
  max-height: 31.25rem;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.entry__content h1,
.entry__content h2,
.entry__content h3,
.entry__content h4,
.entry__content h5,
.entry__content h6 {
  font-family: var(--base-font-family);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
}

.entry__content h1 {
  font-size: 1.8rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: bolder;
}

.entry__content h2 {
  font-size: 1.6rem;
  padding: 1.1rem 1rem;
  margin: 1rem 0;
  color: var(--sub-text-color);
  background-color: var(--main-color);
  border-radius: 5px;
}

.entry__content h3 {
  font-size: 1.2rem;
  border-bottom: solid 2px var(--main-color);
  margin-top: 2em;
  margin-bottom: 1em;
}

.entry__content h4 {
  font-size: 1.1rem;
  margin-top: 2em;
  margin-bottom: 1em;
}

.entry__content h4::before {
  font-family: "bootstrap-icons";
  content: "\F582";
  color: var(--main-color);
  font-size: 1rem;
  vertical-align: -.125em;
  margin-right: 0.4rem;
}

.entry__content h5 {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  border-bottom: dotted 1px var(--main-color);
}

.entry__content h6 {
  font-size: 0.9rem;
  margin-top: 2.5em;
  margin-bottom: 0.5em;
}

.entry__content h6::before {
  font-family: "bootstrap-icons";
  content: "\F582";
  font-size: 0.5rem;
  color: var(--main-color);
  vertical-align: .125em;
  margin-right: 0.3rem;
}

.entry__content p {
  text-align: justify;
  font-feature-settings: "palt";
  text-justify: inter-character;
  word-break: break-all;
  overflow-wrap:break-word;
  line-height: 1.8;
  margin-bottom: 1em;
}

.entry__content strong {
  background: linear-gradient(transparent 60%, #e6ee9c 0%);
}

.entry__content strong.teal {
  background: linear-gradient(transparent 60%, #b2dfdb 0%);
}

.entry__content strong.pink {
  background: linear-gradient(transparent 60%, #f8bbd0 0%);
}

.entry__content img {
  max-width: 100%;
  margin: 0.5rem;
}

.entry__content blockquote {
  position: relative;
  margin: 1.5em 0 1em 1em;
  padding: 2em 2em 1em 3em;
  color: #666;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 7px;
}

.entry__content blockquote::before {
  font-family: "bootstrap-icons";
  content: "\F6B0";
  color: #999;
  background-color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  top: -0.4em;
  left: -0.4em;
}

.entry__content blockquote cite {
  display: block;
  font-style: italic;
  text-align: right;
  font-size: 0.7rem;
  word-break: break-all;
  margin-top: 0.6em;
}

.entry__content q {
  font-style: italic;
  background: #e0f2f1;
  margin: 0 0.2em;
}

.entry__content ul,
.entry__content ol {
  margin-bottom: 0.5rem;
}

.entry__content ul li,
.entry__content ol li {
  margin: 0.5rem;
}

.entry__content dd {
  margin-left: 2em;
}

.entry__content pre {
  font-family: Monaco, Consolas, Courier New, Courier, monospace, sans-serif;
  font-size: 0.9rem;
  color: #fff;
  background-color: #333;
  margin: 2em 1em;
  padding: 1em;
  white-space: pre-wrap;
}

.entry__content table {
  margin: 1em auto;
  border-collapse: collapse;
  border: 3px solid #ccc;
  max-width: 100%;
  font-size: 0.9rem;
}

.entry__content th {
  border: 1px solid #ccc;
  padding: 0.8em 0.5em;
  background: #eee;
  color: #666;
  white-space: nowrap;
  text-align: center;
}

.entry__content td {
  border: 1px solid #ccc;
  padding: 0.8em 0.5em;
}

.entry__content iframe[title="YouTube video player"] {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.entry__content address {
  font-size: 0.9rem;
}

.entry__footer {
  font-size: 0.9rem;
}

.entry__footer .entry__categories a::before {
  font-family: "bootstrap-icons";
  content: "\F2C9";
  vertical-align: -.125em;
  margin-right: 2px;
}

.entry__footer .entry__tags a::before {
  font-family: "bootstrap-icons";
  content: "\F5AF";
  vertical-align: -.125em;
  margin-right: 2px;
}

.entry__footer .entry__categories,
.entry__footer .entry__tags {
  transition: .5s ease;
}

.entry__footer .entry__categories:hover,
.entry__footer .entry__tags:hover {
  background-color: var(--category-color);
}


/* ---------- share button ---------- */

.share-button {
  color: var(--sub-text-color);
  font-size: 0.875rem;
}

.share-button__twitter::before,
.share-button__facebook::before,
.share-button__hatena::before,
.share-button__line::before,
.share-button__pocket::before {
  font-family: "bootstrap-icons";
  vertical-align: -.125em;
  margin-right: 3px;
}

.share-button li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.share-button__twitter,
.share-button__facebook,
.share-button__hatena,
.share-button__line,
.share-button__pocket {
  transition: 0.3s;
}

.share-button__twitter {
  background-color: var(--sns-twitter);
}

.share-button__twitter::before {
  content: "\F5EF";
}

.share-button__facebook {
  background-color: var(--sns-facebook);
}

.share-button__facebook::before {
  content: "\F344";
}

.share-button__hatena {
  background-color: var(--sns-hatena);
}

.share-button__hatena::before {
  content: "\F19C";
}

.share-button__line {
  background-color: var(--sns-line);
}

.share-button__line::before {
  content: "\F660";
}

.share-button__pocket {
  background-color: var(--sns-pocket);
}

.share-button__pocket::before {
  content: "\F19C";
}

/* ---------- sidebar ---------- */

.plugin {
  font-size: 0.9375rem;
}

h2.plugin-label {
  color: #fff;
  background-color: var(--main-color);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0.9rem;
  margin-bottom: 1em;
}

.plugin-content {
  padding: 0 1em;
  margin-bottom: 2em;
}

.plugin-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plugin-content ul li {
  padding: 1em 0;
  border-bottom: 1px dotted #ccc;
}

.plugin-content a {
  color: var(--text-color);
}

.plugin-navigation ul li,
.plugin-categories ul li,
.plugin-pages ul li,
.plugin-static-pages ul li {
  position: relative;
  display: block;
}

.plugin-navigation ul li::after,
.plugin-categories ul li::after,
.plugin-pages ul li::after,
.plugin-static-pages ul li::after {
  font-family: "bootstrap-icons";
  content: "\F231";
  font-weight: 900;
  font-size: 1.25em;
  color: var(--main-color);
  vertical-align: -.125em;
  position: absolute;
  right: 0.75rem;
  transition: all .3s ease-in-out;
}

.plugin-navigation ul li:hover::after,
.plugin-categories ul li:hover::after,
.plugin-pages ul li:hover::after,
.plugin-static-pages ul li:hover::after {
  right: 0;
}

.plugin-search .plugin-content {
  padding: 0;
}

.plugin-search .plugin-content input[type='text'] {
  width: 100%;
  padding: 8px 16px;
  font-size: 1.25rem;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.plugin-search .plugin-content input[type='text']:focus {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  border: 2px solid #fff !important;
  outline: 0;
}

/* ---------- footer ---------- */

footer.footer {
  color: var(--sub-text-color);
  background-color: var(--footer-color);
}
